/*police par défault du document*/
body {
    font-family: "karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #6E815E;
    background-color: #faf8ec;
    margin: 0;
}

/*enlever le souligné pour tout les liens*/
a:hover,
a:visited,
a:link,
a:focus,
a:active {
    text-decoration: none !important;
}

/*couleur du menu de la navigation principale*/
nav a {
    color: white;
}

/*couleur ausurvol du menu de la navigation principale*/
nav a:hover {
    text-decoration: none;
    color: #DCA9C0;
}

.actif {
    color: #e7c597;
}

/*menu principal, se comporte en grille Ã  6 colones*/
.menu1 {
    color: #6E815E;
    font-weight: 600;
    font-size: 0.85em;
    margin-bottom: 3em;
    line-height: 3em;
}

.menu1 p {
    color: white;
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
    float: right; 
}

#top-container {
  display: flex;
}

/*style de l'entete*/
.hero {
    width: 95%;
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #6E815E;
    border-radius: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}


.contenuhero {
    width: 550px;
    color: #6E815E;
    padding: 50px;
}

.contenuhero h2 {
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 1.5em;
    font-size: 1.5em;
}

.contenuhero h3 {
    margin-bottom: 5px;
    font-size: 1em;
}

.boutonCA {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    color: #fff;
    background-color: #6E815E;
    height: 48px;
    :hover{
        transform: scale(1.04);
        
    }

    /* background-color: #04AA6D; */
}

.boutonCA:hover {
    background-color: #DCA9C0;
    /* background-image: url("images/CA-down.png"); */
}

.menuprinc {
    height: 80px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* display: grid;
    grid-template-columns: repeat(11, 1fr); */
    align-items: center;
    justify-items: center;
    color: #6E815E;
    font-size: 1.3em;
    font-weight: 500;
}

.im_accueil {
    width: 400px;
    margin: 0 auto 100px auto;
}

.menuprinc a {
    color: #6E815E;
}

.menuprinc a:hover {
    color: #DCA9C0;
}


header img {
    display: block;
    width: 50px;
    margin: auto;

}

.main-text-left .pied {
    border-top: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    margin: 0;
    font-size: 10px !important;

}

.pied1 {
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.main-text-left .pied1 p {
  font-size: 18px;
  color: white;
  margin: 0 !important;
}

.main-text-left .pied1 p:last-of-type {
  font-size: 14px;
  color: white;
  margin-top: 30px !important;
}

.pied2 {
    margin-top: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 0.6em;
    color: #6E815E;
}

.menupied {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    color: #6E815E;
}

.menupied a {
    color: #6E815E;
}

/*style pour les icones sociaux*/
.sociaux a {
    color: #6E815E;
    font-size: 20px;
}

.sociaux {
    margin-bottom: 20px;
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

/*grille de base du site commence ici*/
.wrapper {
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.multiple-image {
    width: 25%;
}

header {
    display: flex; margin-bottom: 1em;
    /* grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4; */
}

nav {
    flex-grow: 2;
    /* grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 9; */
}

footer {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 10;
    min-height: 300px;

}

.dropdown {
    max-width: 13em;
    margin: 0 10px auto 0;
    position: relative;
    width: 100%;
    text-align: right;
    text-align: -webkit-right;
  }

  .dropdown-btn {
    background: black;
    font-size: 18px;
    width: 54px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .dropdown-btn:focus + .dropdown-content {
    visibility: visible;
  } 

  .dropdown-btn:focus + .dropdown-content li {
    left: 0;
  }

  .dropdown-btn:focus > .arrow {
    transform: rotate(180deg);
  }

  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
  }

  .dropdown-content {
    list-style: none;
    position: absolute;
    top: 3em;
    width: 85%;
    visibility: hidden;
    overflow: hidden;
    padding-inline-start: 30px;
  }

  .dropdown-content li {
    background: black;
    /* border-radius: 0.5em; */
    position: relative;
    left: 100%;
    transition: 0.5s;
  }

 .dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    /* margin: 0.1em 0; */
    text-decoration: none;
  }

  .dropdown-content li a:hover {
    color: #6E815E;
  }

  .top-image {
    width: 100%;
    margin: 0 auto;
    background: url("./images/Index_1.jpg");
    background-size: cover;
    min-height: 100vh;
  }

  .top-image-dictionary {
    width: 90%;
    margin: 0 auto 30px;
    background: url("./images/background-image.jpg");
    background-size: cover;
    min-height: 80vh;
  }

  .main-text {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
  }

  .main-text-left {
    order: 2;
    width: 56%;
    margin-top: 60px;
  }

  .main-text-right {
    order: 1;
  }

  .main-text-left p {
    margin: auto;
    text-align: left;
    font-size: 32px;
    font-family: SourceSans3;
    color: white;
  }

  .main-text-left p:first-of-type {
    margin-bottom: 30px;
  }

  .main-text-left p:last-of-type {
    margin-top: 30px;
  }

  .main-text-left h1 {
    margin-top: 60px;
    font-size: 105px;
    font-weight: 500;
    font-family: Kalnia;
    line-height: 1.5em;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .main-text-button {
    text-align: center;
    padding: 100px 0 40px 0;
    margin: auto 20px 20px auto;
}



  .top-image-dictionary h1 {
    text-align: center;
    margin: 25% auto;
  }

  .main {
    display: flex;
    width: 90%;
    margin: 20px auto;
  }

  .main-left {
    order: 1;
    width: 50%;
  }

  .main-right {
    order: 2;
    width: 50%;
    text-align: right;
  }

  .second {
    display: flex;
    width: 90%;
    margin: 20px auto;
  }

  .second-left {
    order: 1;
    width: 50%;
    text-align: left;
  }

  .second-right {
    order: 2;
    width: 50%;
  }

  .carr-wrapper {
    width: 90%;
    margin: 0 120px 40px 120px;
  }

  .carousel.controls-outside {
    padding: 0 1rem 1.375rem;
    background-color: transparent !important;
  }

  .slide {
    border-style: solid; 
    border-width: 1px;
    border-color: gray;
  }

/*grille de base du site fini ici*/